# Copie este arquivo para .env e preencha com seus valores
# cp .env.example .env

# MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=seu_usuario
MINIO_SECRET_KEY=sua_senha
MINIO_BUCKET=datalake

# SQL Server
SQL_SERVER=localhost
SQL_DATABASE=MiniDataLakeDB
SQL_DRIVER=ODBC Driver 18 for SQL Server

# Oracle
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE=ORCLPDB1
ORACLE_USER=seu_usuario
ORACLE_PASSWORD=sua_senha