aiobotocore==2.26.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aioitertools==0.13.0
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
botocore==1.41.5
frozenlist==1.8.0
fsspec==2025.10.0
greenlet==3.2.5
idna==3.18
jmespath==1.1.0
multidict==6.7.1
numpy==2.0.2
pandas==2.3.3
propcache==0.4.1
pyarrow==21.0.0
pyodbc==5.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2026.3.post1
s3fs==2025.10.0
six==1.17.0
SQLAlchemy==2.0.52
typing_extensions==4.16.0
tzdata==2026.3
urllib3==1.26.20
wrapt==1.17.3
yarl==1.22.0
